@font-face {
  font-family: "VAR";
  src: url("Comfortaa-Bold.ttf");
  }
  @font-face {
    font-family: "VAM";
    src: url("Comfortaa-Regular.ttf");
    }
  @font-face {
    font-family: "RBM";
    src: url("RobotoMono-Regular.ttf");
    }
  @font-face {
    font-family: "YEAR";
    src: url("calculatorNumbers.ttf");
    }
      
body { font-family: "VAR";font-size: 16; background:black; color:#bae8c1; line-height: 2;}
code { font-family: "VAM";font-size: 16; }
hr {color:#bae8c1;}
.colorbox{width: 32; height: 16; border-radius: 10%;display:inline-block; }
a.up{color:#bae8c1;text-decoration: none;}
a.up:visited{color:#bae8c1;text-decoration: none;}
a.up:active{color:#bae8c1;text-decoration: none;}

a{color:#e8e0ba;text-decoration: none;}
a:visited{color:#e8e0ba;text-decoration: none;}
a:active{color:#e8e0ba;text-decoration: none;}

.cover {
  margin-left: 0;
  list-style: none;
  counter-reset: li;
}
.cover li {
  padding: 10px 0;
  position: relative;
  left: -2.5em;
  margin-bottom: 0.75em;
  padding-left: 4em;
  border:1px solid;
  border-radius: 10px;
}
.cover li:before {
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0em;
  width: 2.5em;
  text-align: center;
  background: #2c362d;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  counter-increment: li;
  content: counter(li);
}
/*----------------------------------------*/
.steps {
  counter-reset: li;
  list-style: none;
}
.steps li {
  list-style-type: none; /*no additional square etc marker left on animated circle marker , which enough*/
  position: relative;
  padding: 10px 0 10px 40px !important;
  color: #bae8c1;
  /*font-variant: small-caps;*/
  /*font-weight: bold;*/
  cursor: pointer;
  margin-bottom: 0em;
  padding-left: 0em;
  background: none;
}
.steps li:before {
  position: absolute;
  padding: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #2790c4;
  content: "";
  left: 0;
  transition: .3s ease-in-out;
  top: 22px;
}
.steps li:after {
  position: absolute;
  border-left: 1px dotted #2790c4;
  width: 1px;
  bottom: -8px;
  content: "";
  left: 3px;
  top: 44px;
  color:#2790c4;
}
.steps li:hover:before{box-shadow: 0 0 0 10px rgba(39,144,196,.8)}
.steps li:last-child:after {content: none;}

div.codebox{
  border-width:1px;
  border-style:solid solid none;
  border-radius:10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding:10px;
  padding-left: 2em;
  padding-bottom:20px;
}
div.codeout{
  border-width:1px ;
  border-style:solid ;
  border-radius:10px;
  padding:10px;
  padding-left: 4em;
  margin-top:-10px;
  margin-left: -10px;
  background: black;
}


img.h200px{max-height: 200px;}

codebox{
  color: #E3DEDC;
}
codeout{
  color: #bae8c1;
}
marker{
  border-color: #bae8c1;
  border-width: 1px;
  border-style: none solid solid;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding:2px;
  background: black;
  
  /*muddy code for gradient from web*/
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  background-clip: padding-box;
}
/*muddy code for gradient from web*/
marker::after {
  position: absolute;
  top: -1px; bottom: -1px;
  left: -1px; right: -1px;
  background: linear-gradient(black, #bae8c1);
  content: '';
  z-index: -1;
  border-radius: 4px;
}

terminal{
  color: #E3DEDC;
  font-family: "RBM";font-size: 16;
  background: #2c362d;
  border: 1px solid #bae8c1;
  border-radius: 4px;
  padding:2px;
}
eterminal{
  color: #E3DEDC;
  font-family: "RBM";font-size: 16;
  border: 1px solid;
  border-radius: 4px;
  padding:2px;
}
in{
  color:black;
}
bin{
  color:black;
}
year{
  color:#5d7460;
  font-family: "YEAR";
}